@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.app {
	background-color: rgb(37, 37, 37);
	/* max-height: 100vh; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: ; */
	font-family: "Spectral", serif;
	/* overflow: hidden; */
}

section {
	padding: 5rem;
	/* padding-top: 10rem; */
}

.section_left {
	color: rgb(238, 227, 255);
	/* flex: 0.4; */
	background-color: rgb(105, 48, 195);
}

.section_right {
	color: rgb(208, 179, 255);
	display: flex;
	justify-content: center;
	/* flex: 0.6; */
}

@media (max-width: 700px) {
	section {
		padding: 1rem;
		/* padding-top: 10rem; */
	}
}
